.table-view {
    -fx-background-color: rgba(20,20,20,0.5);
    -fx-text-fill: white;
    -fx-border-color: rgba(75, 47, 13, 0.9);
}

.table-view .column-header,
.table-view .column-header-background {
    -fx-text-fill:  rgba(255,255,255);
    -fx-background-color: rgba(0,0,13,0.5);
    -fx-background-opacity: 0.9;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: rgba(75, 47, 13, 0.9);
}

.table-view .table-cell:selected {
    -fx-background-color: rgba(75, 47, 13, 0.7);
    -fx-text-fill: white;
}
/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: rgba(75,47,13,0.9);
    -fx-background-opacity: 0.5;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-text-fill: white;
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-border-color: rgba(230, 230, 230, 0.8);
}
.table-row-cell:selected {
    -fx-text-fill: white;
   -fx-background-color: white smoke;
   -fx-text-background-color:  #6622CC;
   -fx-border-color: white;
}/*

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}